<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @RenderSection("Head", false)
</head>
<body>
    @await Component.InvokeAsync("UserNavBar")
    <div class="col-xs-12" style="position:relative">
        <h3 class="text-danger">@ViewBag.Message</h3>
        @RenderBody()
    </div>
</body>
</html>
