<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <style>
        .text-danger {
            font-size: 10px;
        }
    </style>
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    @RenderSection("Head", false)
</head>
<body>
    @await Component.InvokeAsync("UserNavBar")
    <div class="col-xs-12" style="position:relative">
        <h3 id="pageMessage" class="text-danger" style="font-size:14px">@ViewBag.Message</h3>
        @RenderBody()
    </div>
</body>
</html>
