@model OutstandingPerformanceAwardViewModel

<p>@Model.Description</p>

<input type="hidden" asp-for="AwardClass"/>
<input type="hidden" asp-for="AwardName">
<input type="hidden" asp-for="ComponentViewName"/>
<input type="hidden" asp-for="Description"/>
<input type="hidden" asp-for="HasRibbon"/>
<input type="hidden" asp-for="Kind"/>
<div class="form-group col-md-6">
    <label asp-for="StartDate" class="control-label"></label>
    <div class='input-group date datetimepicker'>
        <input type="text" asp-for="StartDate" class="form-control" style="padding-top:0px"/>
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group col-md-6">
    <label asp-for="EndDate" class="control-label"></label>
    <div class='input-group date datetimepicker'>
        <input type="text" asp-for="EndDate" class="form-control" style="padding-top:0px" />
        <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
        </span>
    </div>
    <span asp-validation-for="EndDate" class="text-danger"></span>
</div>
<div class="form-group col-md-6">
    <label asp-for="SelectedAwardType" class="control-label"></label>
    <select asp-for="SelectedAwardType" class="form-control">
        <option value="" data-code="" data-address="" disabled selected>Choose Specific Award</option>
        @foreach (SelectListItem type in Model.AwardTypes)
        {
            <option value="@type.Value">@type.Text</option>
        }
        </select>
    <span asp-validation-for="SelectedAwardType" class="text-danger"></span>
</div>
