<!DOCTYPE html>
@{
    ViewData["Title"] = "SaveSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-md-10 col-md-offset-1">
    <h2 style="color:#1bbb6b">Success!</h2>
    <h4>Your document was generated successfully.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            File Name:
        </dt>
        <dd>
            @ViewBag.FileName
        </dd>
        <dt>
            Download Link:
        </dt>
        <dd>
            <a asp-action="Download" asp-controller="Home" asp-route-id="@ViewBag.PPAId">Download</a>
        </dd>
    </dl>
    <p>
        <a asp-action="Index" asp-controller="Home">Return to My Documents</a>
    </p>
</div>
