@model SmartPPA.Models.ViewModels.PPAFormViewModel

@{
    Layout = "_Layout";
}
<link href="~/lib/smart_wizard/css/smart_wizard.css" rel="stylesheet" type="text/css" />
<link href="~/lib/smart_wizard/css/smart_wizard_theme_arrows.min.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.ckeditor.com/4.10.1/basic/ckeditor.js"></script>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div id="smartwizard">
        <ul>
            <li><a href="#EmployeeInfo">Employee<br /><small>Information about the employee you are rating.</small></a></li>
            <li><a href="#PositionInfo">Position/Rating<br /><small>Information about the employee's job and rating.</small></a></li>            
            <li><a href="#Comments">Comments/Recommendations<br /><small>Provide your comments and recommendations</small></a></li>
        </ul>
        <div>
            <div id="EmployeeInfo" class="">                
                <div class="form-group row">
                    <div class="form-group col-xs-3">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-3">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-1">
                        <label asp-for="DepartmentIdNumber" class="control-label"></label>
                        <input asp-for="DepartmentIdNumber" class="form-control" />
                        <span asp-validation-for="DepartmentIdNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-1">
                        <label asp-for="PayrollIdNumber" class="control-label"></label>
                        <input asp-for="PayrollIdNumber" class="form-control" />
                        <span asp-validation-for="PayrollIdNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-1">
                        <label asp-for="PositionNumber" class="control-label"></label>
                        <input asp-for="PositionNumber" class="form-control" />
                        <span asp-validation-for="PositionNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-xs-3">
                        <label asp-for="DepartmentDivision" class="control-label"></label>
                        <input asp-for="DepartmentDivision" class="form-control" />
                        <span asp-validation-for="DepartmentDivision" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-3">
                        <label asp-for="DepartmentDivisionCode" class="control-label"></label>
                        <input asp-for="DepartmentDivisionCode" class="form-control" />
                        <span asp-validation-for="DepartmentDivisionCode" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-6">
                        <label asp-for="WorkPlaceAddress" class="control-label"></label>
                        <input asp-for="WorkPlaceAddress" class="form-control" />
                        <span asp-validation-for="WorkPlaceAddress" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-group col-xs-4">
                        <label asp-for="SupervisingEmployeeName" class="control-label"></label>
                        <input asp-for="SupervisingEmployeeName" class="form-control" />
                        <span asp-validation-for="SupervisingEmployeeName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-4">
                        <label asp-for="SupervisedByEmployeeName" class="control-label"></label>
                        <input asp-for="SupervisedByEmployeeName" class="form-control" />
                        <span asp-validation-for="SupervisedByEmployeeName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div id="PositionInfo" class="">
                <div class="form-group row">
                    <div class="form-group col-xs-2">
                        <label asp-for="StartDate" class="control-label"></label>
                        <input asp-for="StartDate" class="form-control" style="padding-top:0px" />
                        <span asp-validation-for="StartDate" class="text-danger"></span>
                    </div>
                    <div class="form-group col-xs-2">
                        <label asp-for="EndDate" class="control-label"></label>
                        <input asp-for="EndDate" class="form-control" style="padding-top:0px" />
                        <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="form-group col-xs-4">
                        <label asp-for="JobPath" class="control-label"></label>
                        @Html.DropDownListFor(model => model.JobPath,
                                new SelectList(Model.JobList, "FilePath", "DisplayName"),
                                "Choose Job Title",
                                new { @class = "form-control", id = "JobDescription" })
                        <span asp-validation-for="JobPath" class="text-danger"></span>
                    </div>
                </div>
                <div id="RatingInfo">

                </div>
            </div>
            <div id="Comments" class="">
                <div class="form-group">
                    <label asp-for="Assessment" class="control-label"></label>
                    <textarea asp-for="Assessment" class="form-control" id="comments"></textarea>
                    <span asp-validation-for="Assessment" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Recommendation" class="control-label"></label>
                    <textarea asp-for="Recommendation" class="form-control" id="recommendations"></textarea>
                    <span asp-validation-for="Recommendation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</form>
<script type="text/javascript" src="~/lib/smart_wizard/js/jquery.smartWizard.min.js"></script>
<script>
        $(document).ready(function () {
            $('#smartwizard').smartWizard();
            CKEDITOR.replace('comments', {
                fontSize_defaultLabel: '10px'});
            CKEDITOR.replace('recommendations');
            reCalcOverall();
            $("#JobDescription").change(function () {
                var Id = $(this).val();
                var container = $("#RatingInfo");
                $.get("/Home/GetJobDescriptionViewComponent", { jobTitle: Id }, function (data) { container.html(data); });
            })
        });
        function ratingChange(weight, row, score) {
            $('#Row-Total-' + row).text((weight * 0.01) * score);
            reCalcOverall();
        }
        function reCalcOverall() {
            console.log("recalc called");
            var categoryCount = 0;
            var sumOfScores = 0;
            var list = $(".total-col").toArray();
            for (var i = 0; i < list.length; i++){
                categoryCount++;
                console.log("Count is:" + categoryCount);
                sumOfScores = sumOfScores + parseFloat(list[i].innerHTML);
                console.log("Sum is:" + sumOfScores);
            }
            $("#Total-Rating").text(sumOfScores);
            if (sumOfScores <= 0.5) {
                $("#Overall-Appraisal").text("Unsatisfactory");
            }
            else if (sumOfScores >= 0.51 && sumOfScores <= 1.5) {
                $("#Overall-Appraisal").text("Improvement Needed");
            }
            else if (sumOfScores >= 1.51 && sumOfScores <= 2.5) {
                $("#Overall-Appraisal").text("Satisfactory");
            }
            else if (sumOfScores >= 2.51 && sumOfScores <= 3.5){
                $("#Overall-Appraisal").text("Exceeds Satisfactory");
            }
            else {
                $("#Overall-Appraisal").text("Outstanding");
            }
        }

</script>

