<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <link asp-href-include="lib/bootstrap/css/*.min.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
    <script src="~/lib/jquery/jquery.min.js"></script>
    @RenderSection("Head", false)
</head>
<body>
    <div class="navbar navbar-inverse" role="navigation">
        <a class="navbar-brand" href="#">SmartPPA</a>
    </div>
    <div class="row-panel">
        <div id="categories" class="col-xs-1">
            <ul id="NavigationOptions">
                <li>
                    <a asp-action="Index">Home</a>
                </li>
                <li>
                    <a asp-action="Create">New PPA</a>
                </li>
                <li>
                    <a asp-action="GenerateDocument">Generate</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-xs-10">
        <h3 class="text-danger">@ViewBag.Message</h3>
        @RenderBody()
    </div>
</body>
</html>
