
@{
    Layout = "_Layout";
}


<div class="col-md-10 col-md-offset-1">
    <h2>SmartDocs</h2>
    <h4></h4>
    <strong>What is this site?</strong>
    <p>
        This site was built to be the new home of the SmartPPA. The original version of the SmartPPA, which was a macro-enabled Word Document, was much more difficult for me to maintain.
        The final version stopped working completely in 2018 when the department updated most of the office computers to Office 2013. I built this site instead of updating the Word version of the SmartPPA.
        I hope to add additional "Smart" versions of other documents eventually.
    </p>
    <strong>Is this safe to use?</strong>
    <p>
        This app is hosted on a server on the county's local intranet. This site is only available on computers connected to the county network. None of the information you enter in this app leaves the county network at any point.
        Documents that you generate in this app are only visible to you.
    </p>
    <strong>How do I use this app?</strong>
    <p>
        Please keep in mind that this project is still in development, so you may encounter errors. If you encounter an error, refresh the page and try again. If you experience a repeated error, please contact me. Your feedback helps.
        If you need help, try one (or all) of these options:
        <ol>
            <li>Download and view the <a href="~/lib/SmartDocs User Guide.docx" download="SmartDocs User Guide.docx">User Guide</a>.</li>
            <li><a href="mailto:jcsmith1@co.pg.md.us">Send me an Email</a> and ask a question (or make a suggestion).</li>
            <li>Text me: (301) 648-3444. I will try and respond as soon as I can.</li>
        </ol>
    </p>
    <strong>The Job Description I need isn't an option!</strong>
    <p>
        <a href="mailto:jcsmith1@co.pg.md.us?Subject=Add%20a%20Job%20Description">Send it to me via email</a> and I will add it. One of the main reasons I built this app was to simplify the process of adding new job descriptions so that I could be more responsive to these requests.
    </p>

</div>

