
@{
    Layout = "_Layout";
}

    <a class="card col-xs-4" href="@Url.Action("Create", "SmartPPA")" style="color: black">        

            <img src="~/lib/Images/PPA.JPG" alt="Avatar" style="width:270px; height:200px">
            <h4><b>SmartPPA</b></h4>
            <p>Prepare a Past Performance Appraisal</p>

    </a>
    <div class="card col-xs-4" style="color:darkgray">        

            <img src="~/lib/Images/UseofForceComingSoon.png" alt="Avatar" style="width:270px; height:200px">
            <h4><b>Use of Force</b></h4>
            <p>Prepare a Use of Force Report</p>

    </div>
    <a class="card col-xs-4" href="mailto:jcsmith1@co.pg.md.us?Subject=SmartDoc%20suggestion" style="color: black">

        <img src="~/lib/Images/Message.png" alt="Avatar" style="width:270px; height:200px">
        <h4><b>Message</b></h4>
        <p>Email a comment or Suggestion to the Admin</p>

    </a>
